@CHARSET "UTF-8";

.etiqueta {
	font-weight: bold;
	font-family: arial;
	color: #555555;
}

.z-groupbox-3d {
	background: #FFFFFF;
}

.z-groupbox-3d-hm {
	background: #DDECFD;
}

.btn {
	font-size: 10px;
	cursor: pointer;
	width: 85px;
	height: 30px;
}

.multilinea {
	height: 35px;
}
.multilineaTab {
	height: 250px;
}

.banner {
	background-color: #0070AD;
	color: white;
	background-image:
		url("./../imagenes/generales/reflejobanner.png");
	background-repeat: no-repeat;
	background-position: top;
}


.banner-head {
	font-size: 25px;
	padding-left: 5%;
	padding-right: 5%;
	font-style:italic;
	font-weight: bold;
}

.banner .logout {
	text-decoration: underline;
	cursor: pointer;
}