@CHARSET "UTF-8";

.etiqueta {
	font-weight: bold;
	font-family: arial;
	color: #555555;
}

.z-groupbox-3d {
	background: #FFFFFF;
}

.z-groupbox-3d-hm {
	background: #DDECFD;
}

.azul .z-groupbox-hr{
	background: #DDECFD;
}

.blanco .z-groupbox-hr{
	background: white;
}

.btn {
	font-size: 10px;
	cursor: pointer;
	width: 85px;
	height: 30px;
}

.multilinea {
	height: 35px;
}

.multilineaTab {
	height: 250px;
}

.banner {
	background-color: #0070AD;
	color: white;
	background-image: url("./../imagenes/generales/reflejobanner.png");
	background-repeat: no-repeat;
	background-position: top;
}

.banner-head {
	font-size: 25px;
	padding-left: 5%;
	padding-right: 5%;
	font-style: italic;
	font-weight: bold;
}

.banner .logout {
	text-decoration: underline;
	cursor: pointer;
}

.z-loading {
	background-color: #0070AD;
	border: 1px outset #A0A0A0;
	font-weight: bold;
	font-size: 18px;
	cursor: wait;
	width: 250px;
	height: 45px;
}

.z-loading-indicator {
	color: gray;
	border: 0 none;
}

.z-label {
	pre: true;
}

div.z-listbox-header th.z-listheader,div.z-listbox-header th.z-auxheader
	{
	white-space: pre-line;
}