@CHARSET "UTF-8";

.etiqueta {
	font-weight: bold;
	font-family: arial;
	color: #555555;
}

.z-groupbox-3d {
	background: #FFFFFF;
}

.z-groupbox-3d-hm {
	background: #DDECFD;
}

.btn {
	font-size: 10px;
	cursor: pointer;
	width: 85px;
	height: 30px;
}

.multilinea {
	height: 35px;
}
.multilineaTab {
	height: 250px;
}